In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('simple').getOrCreate()

In [2]:
df=spark.read.csv("C:/Users/anil.nagamunthala/Documents/simple.csv",header=True,inferSchema=True)
df.show()

+--------+---+------+----+
|    NAME|AGE|SALARY|ROLE|
+--------+---+------+----+
|simhadri| 22|400000|   A|
|  sriram| 20|500000|   B|
|  sravya| 28|540000|   A|
|  chandu| 30|500000|   B|
|  chakri|  3|600000|   C|
|     ram| 13|500000|   A|
|   nanda| 32|450000|   A|
|    raju| 27|700000|   C|
+--------+---+------+----+

In [3]:
df.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- ROLE: string (nullable = true)

### Filtering

In [6]:
df.filter(df['SALARY'] > 550000).show()

+------+---+------+----+
|  NAME|AGE|SALARY|ROLE|
+------+---+------+----+
|chakri|  3|600000|   C|
|  raju| 27|700000|   C|
+------+---+------+----+

In [9]:
#we want column wise
df.filter(df['SALARY'] > 650000).select('NAME').show()

+----+
|NAME|
+----+
|raju|
+----+

In [14]:
df.filter((df['SALARY'] > 400000) & (df['SALARY'] < 550000)).show()

+------+---+------+----+
|  NAME|AGE|SALARY|ROLE|
+------+---+------+----+
|sriram| 20|500000|   B|
|sravya| 28|540000|   A|
|chandu| 30|500000|   B|
|   ram| 13|500000|   A|
| nanda| 32|450000|   A|
+------+---+------+----+

### group by and aggregate function

In [19]:
df.groupBy('ROLE').count().show()

+----+-----+
|ROLE|count|
+----+-----+
|   B|    2|
|   C|    2|
|   A|    4|
+----+-----+

In [20]:
df.groupBy('ROLE').max().show()

+----+--------+-----------+
|ROLE|max(AGE)|max(SALARY)|
+----+--------+-----------+
|   B|      30|     500000|
|   C|      27|     700000|
|   A|      32|     540000|
+----+--------+-----------+

In [23]:
df.groupBy('ROLE').sum('SALARY').show()

+----+-----------+
|ROLE|sum(SALARY)|
+----+-----------+
|   B|    1000000|
|   C|    1300000|
|   A|    1890000|
+----+-----------+