In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('simple').getOrCreate()

In [5]:
df=spark.read.csv("C:/Users/anil.nagamunthala/Documents/simple.csv",header=True,inferSchema=True)
df.show()

+--------+----+------+
|    NAME| AGE|salary|
+--------+----+------+
|simhadri|  22|400000|
|  sriram|NULL|500000|
|  sravya|  28|  NULL|
|  chandu|  30|500000|
|  chakri|   3|600000|
|    NULL|  13|  NULL|
|   nanda|NULL|  NULL|
|    NULL|NULL|700000|
+--------+----+------+

In [6]:
#show the null values
df.na.fill('simhadri').show()

+--------+----+------+
|    NAME| AGE|salary|
+--------+----+------+
|simhadri|  22|400000|
|  sriram|NULL|500000|
|  sravya|  28|  NULL|
|  chandu|  30|500000|
|  chakri|   3|600000|
|simhadri|  13|  NULL|
|   nanda|NULL|  NULL|
|simhadri|NULL|700000|
+--------+----+------+

In [11]:
df.na.fill({'NAME':'nill','AGE':0,'salary':0}).show()

+--------+---+------+
|    NAME|AGE|salary|
+--------+---+------+
|simhadri| 22|400000|
|  sriram|  0|500000|
|  sravya| 28|     0|
|  chandu| 30|500000|
|  chakri|  3|600000|
|    nill| 13|     0|
|   nanda|  0|     0|
|    nill|  0|700000|
+--------+---+------+

In [12]:
#droping null values
df.na.drop().show()

+--------+---+------+
|    NAME|AGE|salary|
+--------+---+------+
|simhadri| 22|400000|
|  chandu| 30|500000|
|  chakri|  3|600000|
+--------+---+------+

In [16]:
df.na.drop(how='all',thresh=1).show()

+--------+----+------+
|    NAME| AGE|salary|
+--------+----+------+
|simhadri|  22|400000|
|  sriram|NULL|500000|
|  sravya|  28|  NULL|
|  chandu|  30|500000|
|  chakri|   3|600000|
|    NULL|  13|  NULL|
|   nanda|NULL|  NULL|
|    NULL|NULL|700000|
+--------+----+------+

In [19]:
df.na.drop(how='any',subset=['NAME']).show()

+--------+----+------+
|    NAME| AGE|salary|
+--------+----+------+
|simhadri|  22|400000|
|  sriram|NULL|500000|
|  sravya|  28|  NULL|
|  chandu|  30|500000|
|  chakri|   3|600000|
|   nanda|NULL|  NULL|
+--------+----+------+

Imputations

In [25]:
from pyspark.ml.feature import Imputer
impute=Imputer(
    inputCols=['AGE','salary'],
    outputCols=["{}_impte".format(c) for c in ['AGE','salary']],
    strategy='median'
)

impute.fit(df).transform(df).show()

+--------+----+------+---------+------------+
|    NAME| AGE|salary|AGE_impte|salary_impte|
+--------+----+------+---------+------------+
|simhadri|  22|400000|       22|      400000|
|  sriram|NULL|500000|       22|      500000|
|  sravya|  28|  NULL|       28|      500000|
|  chandu|  30|500000|       30|      500000|
|  chakri|   3|600000|        3|      600000|
|    NULL|  13|  NULL|       13|      500000|
|   nanda|NULL|  NULL|       22|      500000|
|    NULL|NULL|700000|       22|      700000|
+--------+----+------+---------+------------+