In [17]:
import pyspark
import pandas as pd

In [18]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName('simple').getOrCreate()

In [19]:
df=pd.read_csv("C:/Users/anil.nagamunthala/Documents/simple.csv")

In [20]:
df.head()

       NAME  AGE
0  simhadri   22
1    sriram   21
2    sravya   28
3    chandu   30
4    chakri    3

In [21]:
spark

In [22]:
df_spark=spark.read.csv("C:/Users/anil.nagamunthala/Documents/simple.csv")
df_spark

DataFrame[_c0: string, _c1: string]

In [23]:
df_spark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    NAME|AGE|
|simhadri| 22|
|  sriram| 21|
|  sravya| 28|
|  chandu| 30|
|  chakri|  3|
+--------+---+

In [24]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [25]:
df_spark=spark.read.option('header','True').csv("C:/Users/anil.nagamunthala/Documents/simple.csv")
df_spark

DataFrame[NAME: string, AGE: string]

In [26]:
df_spark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: string (nullable = true)