In [18]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('sample').getOrCreate()

In [19]:
df=spark.read.csv("C:/Users/anil.nagamunthala/Documents/simple.csv")

In [20]:
df.show()

+--------+---+------+
|     _c0|_c1|   _c2|
+--------+---+------+
|    NAME|AGE|salary|
|simhadri| 22|400000|
|  sriram| 21|500000|
|  sravya| 28|300000|
|  chandu| 30|500000|
|  chakri|  3|600000|
+--------+---+------+

In [21]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [22]:
df=spark.read.csv("C:/Users/anil.nagamunthala/Documents/simple.csv",header=True,inferSchema=True)
df.show()

+--------+---+------+
|    NAME|AGE|salary|
+--------+---+------+
|simhadri| 22|400000|
|  sriram| 21|500000|
|  sravya| 28|300000|
|  chandu| 30|500000|
|  chakri|  3|600000|
+--------+---+------+

In [23]:
df.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- salary: integer (nullable = true)

# retreiving the data

In [24]:
df.head()

Row(NAME='simhadri', AGE=22, salary=400000)

In [25]:
df.head(10)

[Row(NAME='simhadri', AGE=22, salary=400000),
 Row(NAME='sriram', AGE=21, salary=500000),
 Row(NAME='sravya', AGE=28, salary=300000),
 Row(NAME='chandu', AGE=30, salary=500000),
 Row(NAME='chakri', AGE=3, salary=600000)]

In [26]:
df.select(['NAME']).show()

+--------+
|    NAME|
+--------+
|simhadri|
|  sriram|
|  sravya|
|  chandu|
|  chakri|
+--------+

In [27]:
df.select(['NAME','AGE']).show()

+--------+---+
|    NAME|AGE|
+--------+---+
|simhadri| 22|
|  sriram| 21|
|  sravya| 28|
|  chandu| 30|
|  chakri|  3|
+--------+---+

### adding columns

In [33]:
df1=df.withColumn('newcol',df['salary']*2)
df1.show()

+--------+---+------+-------+
|    NAME|AGE|salary| newcol|
+--------+---+------+-------+
|simhadri| 22|400000| 800000|
|  sriram| 21|500000|1000000|
|  sravya| 28|300000| 600000|
|  chandu| 30|500000|1000000|
|  chakri|  3|600000|1200000|
+--------+---+------+-------+

In [35]:
df1=df1.withColumnRenamed('newcol','salry_double')
df1.show()

+--------+---+------+------------+
|    NAME|AGE|salary|salry_double|
+--------+---+------+------------+
|simhadri| 22|400000|      800000|
|  sriram| 21|500000|     1000000|
|  sravya| 28|300000|      600000|
|  chandu| 30|500000|     1000000|
|  chakri|  3|600000|     1200000|
+--------+---+------+------------+

In [39]:
#column removing
df1=df1.drop('salry_double')
df1.show()

+--------+---+------+
|    NAME|AGE|salary|
+--------+---+------+
|simhadri| 22|400000|
|  sriram| 21|500000|
|  sravya| 28|300000|
|  chandu| 30|500000|
|  chakri|  3|600000|
+--------+---+------+

Summary

In [44]:
df1.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [47]:
df1.summary()

DataFrame[summary: string, NAME: string, AGE: string, salary: string]

In [49]:
df1.describe().show()

+-------+------+-----------------+-----------------+
|summary|  NAME|              AGE|           salary|
+-------+------+-----------------+-----------------+
|  count|     5|                5|                5|
|   mean|  NULL|             20.8|         460000.0|
| stddev|  NULL|10.66302021005306|114017.5425099138|
|    min|chakri|                3|           300000|
|    max|sriram|               30|           600000|
+-------+------+-----------------+-----------------+